.app_header {
  display: flex;
  flex-basis: 100%;
  grid-area: header;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

.logo {
  display: flex;
  flex: 0 0 250px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: #dc5a60;
  font-size: 1rem;
}

.logo h1 {
  margin: 0;
}

.toolbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing);
}
